*{
    margin: 0;
    padding: 0;
}

body    {
    background-color: azure;
    color: darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-image : url(images/background5.png);
    background-size:cover;
    
}

a {
    text-decoration: none;
}

.container  {
    width: 90%;
    max-width: 900px;
    margin: auto;
     
}

.box_1 {
    background-color: ivory;
    color: #333;
    border: 5px #333 solid;
    padding: 20px;
    margin-top: 20px;
}

.box_1 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.shapes_timer {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas:
        "level  chances" 
        "imagesBox timerGrid"
        "imagesBox timerGrid"
        "imagesBox colAndShapeName"
        "imagesBox startButton";
    justify-items: center;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#level {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-self:center;
    width: auto;
    height: auto;
}

#chances {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-self:center;
    width: auto;
    height: auto;
}

#imagesBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
   justify-content: center;
    /*align-items: space-evenly;*/
    gap: 10px;
   
    width: auto;
    height: auto;
    border: black solid 2px;
    background-color:ivory;
}


.sImgA {
    flex: 0 1 200px;
    align-self: center;
}

.sImage  {
    object-fit: contain;
    object-position: 50% 50%;
    cursor: pointer;
   
}


.timerGrid {
    display: grid;
    justify-items:center;
    align-items: flex-start;
    grid-row-gap: 10px;
    width: 100%;
}

#timer {
    display:grid;  
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(67, 19, 158);
    color: rgb(244, 240, 255);
    
    height: 150px;
    width: 300px;

    border: 5px solid;
    border-radius: 30%;
}

.time {
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    color: floralwhite;
}

.units {
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    color: floralwhite;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

button {
    cursor: pointer;
    /*background: transparent;*/
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
}

#playButton {
    display: none;
}

#pauseButton {
    display: block;
}

#colAndShapeName {
    /*width: 90%;*/
    border-radius: 5px;
    height: 20px;
    padding: 10px;
    background-color: ivory;
    color: #333;
    border: 5px #333 solid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
}
#colAndShapeName h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
    justify-self: center;

}

#startButton {
    width: 150px;
    height: 50px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10% / 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

}

#level {
    grid-area: level;
    background-color: ivory;
    border-radius: 5px;
    /*height: 20px;*/
    padding: 10px;
    border: 5px #333 solid;
    
    justify-content: center;
    align-content: center;
}

#chances {
    grid-area: chances;
    background-color: ivory;
    border-radius: 5px;
    padding: 10px;
    border: 5px #333 solid;
}

#imagesBox {
    grid-area: imagesBox;
}

.timerGrid {
    grid-area: timerGrid;
}
#colAndShapeName {
    grid-area: colAndShapeName;
}
#startButton {
    grid-area: startButton;
}
